body {
  font-family: Vazirmatn, Tahoma;
  direction: rtl;
  text-align: right;
}

#jalali_date {
  padding: 8px;
  width: 200px;
  cursor: pointer;
}

#datepicker {
  display: none;
  width: 220px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  background: #fff;
}

.day {
  display: inline-block;
  width: 30px;
  margin: 3px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.day:hover {
  background: #007bff;
  color: #fff;
}
